Repository hortonworks/cloudbreak-images, pull requests merged in 2021-03, with the labels that each got.

#532 CDPAM-1386: A way to optionally disable TLS verification in agent
  saltstack/base/salt/ccmv2-inverting-proxy-agent/init.sls
Labels: enhancement

#533 Update telemetry binary: role - v6, rpm version: 0.3.12
  Makefile
  saltstack/base/salt/telemetry/init.sls
Labels: bug

#534 CB-8896/CB-11455: CIS controls
  saltstack/base/salt/cis-controls/init.sls
  saltstack/base/salt/top.sls
  saltstack/final/salt/cis-controls/etc/pam.d/password-auth
  saltstack/final/salt/cis-controls/etc/pam.d/system-auth
  saltstack/final/salt/cis-controls/etc/systemd/system/cis.service
  saltstack/final/salt/cis-controls/home/cloudbreak/cis.sh
  saltstack/final/salt/cis-controls/init.sls
  saltstack/final/salt/top.sls
Labels: CIS-Hardening

#537 CB-8896/CB-11455: CIS controls
  saltstack/base/salt/cis-controls/init.sls
  saltstack/base/salt/top.sls
  saltstack/final/salt/cis-controls/etc/pam.d/password-auth
  saltstack/final/salt/cis-controls/etc/pam.d/system-auth
  saltstack/final/salt/cis-controls/etc/systemd/system/cis.service
  saltstack/final/salt/cis-controls/home/cloudbreak/cis.sh
  saltstack/final/salt/cis-controls/init.sls
  saltstack/final/salt/top.sls
Labels: CIS-Hardening

#541 CB-11681: Removed printing TMOUT output on ssh
  saltstack/final/salt/cis-controls/init.sls
Labels: CIS-Hardening
